@import "style/custom.scss";

.layout__out__contents {
    width: 100%;
    height: 100%;
    margin-top: $header-height;
}

.layout__contents {
    min-height: 70vh;
    width: $contents-width;
    margin: 0 auto;
    padding-top: 20px;
}
