$primary-color: #0180f6;
$black-color: black;
$white-color: #ffffff;
$gray-color: gray;
$background-color: #0180f6;
$border-color: gray;

$header-height: 80px;
$contents-width: 1280px;
$footer-height: 380px;

@font-face {
    font-family: NotoSans;
    src: url("../assets/fonts/NotoSansKR-Regular.otf");
}
