$primary-color: #0180f6;
$black-color: black;
$white-color: #fff;
$gray-color: gray;
$background-color: #0180f6;
$border-color: gray;
$header-height: 80px;
$contents-width: 1280px;
$footer-height: 380px;
$default-font: 'Noto Sans KR', sans-serif !default;
