@use '/src/styles/abstracts/variables' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid $border-color !important;
    z-index: 999;
}

.contents {
    max-width: $contents-width;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pageTitle {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100%;
}

.navigation {
    padding-left: 100px;
    flex: 1;
}

.list {
    line-height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
}

.listItem {
    width: 100px;
    height: $header-height;
    color: $black-color;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: center;

    & a:hover {
        text-decoration: underline;
    }
}

.loginButton {
    height: 100%;
    color: $black-color;
    font-size: 18px;
    line-height: $header-height;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: right;
}
