@use '/src/styles/abstracts/variables' as *;

.category {
    margin: 20px 0;
}

.category__title {
    line-height: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
        font-size: 32px;
        font-weight: 700;
    }
}

.category__list {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
    overflow: hidden;
    overflow-x: auto;
}

.category__figure {
    width: 200px;
}

.category__figcaption {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}
